strong {
  color: #00ea3c;
}

body {
  background-color: #1c212a !important;
}

.sidebar,
.header,
.popup {
  background: #292c35 !important;
}

.sidebar .active::before {
  background-color: #00ea3c !important;
}

textarea {
  border-color: #00ea3c !important;
}